body {
    font-family: 'Prompt', sans-serif;
    background-color: #ffebf2;
    color: #333; 
}

h1 {
    color: #ff3d81; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

p {
    font-size: 1.2rem;
}

