@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: relative;
    font-family: 'Prompt', sans-serif;
    
}   

.animated-button {
    transition: transform 0.5s;
    color: #fff; 
    border: 2px solid #000000; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.animated-button:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255); 
    background-color: #000000;
    border: 2px solid #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #56cc9d;
    
}
.btn-primary:hover {
    background-color: #56cc9d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-login {
    border-top: 2px solid var(--bs-pink);
    background: #fff5f5;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.form-login:hover {
    transform: scale(1.05);
}

.form-login:hover fieldset,
.form-login fieldset:hover,
.form-login input:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease;
}
.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(120,194,173,.25);
}

.navbar-nav .nav-item .nav-link {
    color: #000000;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff6b9e;
}


ul li a {
    color: #f26b8a;
    transition: color 0.3s;
    text-decoration: none;
}

ul li a:hover {
    color: #ff3d81;
}

.footer-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.footer-address {
    max-width: 250px; 
}

.development-team {
    list-style: none; 
    padding: 0; 
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #f86d9d;
    transition: color 0.3s;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ff508d;
}

.footer-bottom {
    background-color: #5a5a5a;
    padding: 10px;
    color: #fff;
}
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -20px #ff508d;
    -webkit-box-shadow: 0px 0px 44px -20px #ff508d;
    -moz-box-shadow: 0px 1px 44px -20px #ff508d;
    border: 5px #ffd5e8 solid;
    min-height: 200px;  
    border-radius: 40px;
}
.card2 {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -20px #50cbff;
    -webkit-box-shadow: 0px 0px 44px -20px #50cbff;
    -moz-box-shadow: 0px 1px 44px -20px #50cbff;
    border: 5px #b4e8ff solid;
    min-height: 200px;  
    border-radius: 40px;
}
.card3 {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -20px #51e290;
    -webkit-box-shadow: 0px 0px 44px -20px #51e290;
    -moz-box-shadow: 0px 1px 44px -20px #51e290;
    border: 5px #bdffda solid;
    min-height: 200px;  
    border-radius: 40px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card3:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.info {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -20px #ff508d;
    -webkit-box-shadow: 0px 0px 44px -20px #ff508d;
    -moz-box-shadow: 0px 1px 44px -20px #ff508d;
    border: 5px #ffd5e8 solid;
    min-height: 200px;  
    border-radius: 40px;
}
.info2 {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -20px #50cbff;
    -webkit-box-shadow: 0px 0px 44px -20px #50cbff;
    -moz-box-shadow: 0px 1px 44px -20px #50cbff;
    border: 5px #b4e8ff solid;
    min-height: 200px;  
    border-radius: 40px;
}
.info3 {
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -20px #51e290;
    -webkit-box-shadow: 0px 0px 44px -20px #51e290;
    -moz-box-shadow: 0px 1px 44px -20px #51e290;
    border: 5px #bdffda solid;
    min-height: 200px;  
    border-radius: 40px;
}

.card-img-top {
    border-radius: 40px; 
    object-fit: cover;
    height: 240px; 
}

a {
    color: #f26b8a;
    transition: color 0.3s;
    text-decoration: none;
}
a:hover {
    color: #ff3d81;
}

